<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinservLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <WinservLite.Properties.Settings>
            <setting name="WinServDB" serializeAs="String">
                <value>wsdb_dev</value>
            </setting>
            <setting name="ListArchivedOrders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomUser" serializeAs="String">
                <value />
            </setting>
            <setting name="BookmarkList" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="UseMagnet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipMagnet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dbaddress" serializeAs="String">
                <value>192.168.2.127</value>
            </setting>
            <setting name="AutoSearch" serializeAs="String">
                <value>True</value>
            </setting>
        </WinservLite.Properties.Settings>
    </userSettings>
</configuration>
