[Unit]
Description=TryggDrift monitoring software

[Service]
Type=notify
WorkingDirectory=/tryggdrift
ExecStart=/tryggdrift/TryggDriftLinux
SyslogIdentifier=TryggDrift

# To update permissions, use 'chown yourusername -R /srv/HelloWorld' to take ownership of the folder and files,
#       Use 'chmod +x /srv/HelloWorld/HelloWorld' to allow execution of the executable file
User=insupport

# ensure the service restarts after crashing
Restart=always
# amount of time to wait before restarting the service                        
RestartSec=5    

[Install]
WantedBy=multi-user.target