<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XProtectWebStreamPlugin.PluginSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XProtectWebStreamPlugin.PluginSettings>
            <setting name="PrevEmails" serializeAs="String">
                <value />
            </setting>
            <setting name="PrevPhoneNumbers" serializeAs="String">
                <value />
            </setting>
        </XProtectWebStreamPlugin.PluginSettings>
    </userSettings>
</configuration>