<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InSupport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InSupport.Properties.Settings>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CounterURL" serializeAs="String">
                <value />
            </setting>
            <setting name="CounterUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="CounterPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ControlPanelEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NTPServer" serializeAs="String">
                <value>0.se.pool.ntp.org</value>
            </setting>
        </InSupport.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
